art_pi_fw/.settings/language.settings.xml
art_pi_fw/Debug/
art_pi_el_fw/Debug/
art_pi_el_fw/.settings/language.settings.xml
art_pi_fsbl/Debug/
art_pi_fsbl/.settings/language.settings.xml
art_pi_fw/src/ap/TouchGFX/build/
